@import "./partials/_colors.scss";
@import "normalize.css/normalize";
@import "./mixins/flexbox.scss";
@import "./mixins/transform.scss";
@import "./mixins/transition.scss";

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	height: 100vh;
	font-family: 'museo-sans-rounded', sans-serif;
	font-size: 18px;
	line-height: 1.25;
	font-weight: 300;
	background-color: $backgroundColor;
	color: $white;

	h1, h2, h3, h4, h5, h6, button {
		font-family: "museo-sans-rounded";
		font-weight: 700;
	}

	p, label {
		font-family: "museo-sans-rounded";
		font-weight: 300;
	}

	a {
		@include transition(opacity 0.3s);
		color: $white;
		&:hover {
			opacity: 0.7;
		}
	}

	button {
		font-size: 1rem;

		&:focus {
			outline: none;
		}

		&:hover {
			cursor: pointer;
		}
	}

	.wrapper {
		width: 100%;

		.nav {
			position: fixed;
			width: 100%;
			background-color: $backgroundColor;
			top: 0;
			 @include flexbox;
			 @include align-items('center');
			 @include justify-content('space-between');
			font-family: "museo-sans-rounded";
			z-index: 9;
			height: 102px;
			@include transition(transform 0.3s ease-in-out);
			&--translateY {
				@include transform(translateY(-101%))
			}

			&__link {
				 @include flexbox;
				 @include align-items('center');
				 @include justify-content('center');
				min-width: 100px;
				padding-left: 50px;

				&--back {
					color: $grey;
					text-decoration: none;

					.nav__link--img {
						width: 16px;
						height: 16px;
						margin-right: 10px;
					}
				}
			}

			&__logo {
				width: 244px;
				height: 39px;
			}

			&__gap {
				min-width: 150px;
				padding-right: 50px;
			}
		}

		.header {
			margin-top: 102px;
			height: 400px;
			background-color: $secondBackgroundColor;

			&__text {
				 @include flexbox;
				 @include align-items('flex-start');
				 @include justify-content('center');
				 @include flex-direction('column');
				width: 40%;
				top: 10%;
				position: absolute;

				h1 {
					font-size: 46px;
					margin-bottom: 0;
				}

				h4 {
					font-size: 24px;
				}

				&--image {
					width: 200px;
				}
			}

			.card {
				background-color: $white;
				border: 1px solid $lightGrey;
				border-radius: 19px;
				position: absolute;
				right: -5%;
				top: 10%;
				font-family: "museo-sans-rounded";
				font-weight: 700;
				z-index: 2;
				width: 35%;
				padding: 48px 123px 68px 123px;

				h2 {
					color: $backgroundColor;
					margin: 0;
					padding-bottom: 47px;
				}

				.request-form {
					 @include flexbox;
					 @include flex-direction('column');
					 @include align-items('flex-end');
					&__button {
						 @include flexbox;
						 @include align-items('center');
						 @include justify-content('space-between');
						background-color: $logoColor;
						border: none;
						color: $white;
						padding: 1rem;
						width: 262px;
						height: 48px;
						margin-top: 55px;
						border-radius: 5px;
						position: relative;
						overflow: hidden;

						&:hover {
							.request-form__button--text {
								left: calc(50% - 2rem);
							}

							.request-form__button--submit {
								opacity: 0;
								right: -50px;
							}

							.request-form__button--submit-right {
								opacity: 1;
								right: 1rem;
							}
						}

						&--text {
							position: absolute;
							left: 1rem;
							font-weight: 700;
							@include transition-multi(left 0.1s ease-in-out, opacity 0.05s ease-in-out);
						}

						&--submit {
							position: absolute;
							@include transform(rotate(180deg));
							width: 24px;
							height: 24px;
							right: 1rem;
							@include transition-multi(right 0.05s ease-in-out, opacity 0.2s ease-in-out);
							opacity: 1;
						}

						&--submit-right {
							opacity: 0;
							right: calc(50% - 2rem);
							@include transition-multi(right 0.2s ease-in-out, opacity 0.2s ease-in-out);
						}
					}

					&__row {
						 @include flexbox;
						width: 100%;
					}

					&__item {
						margin: 1rem 0;
						width: 50%;

						&:first-child {
							margin-right: 12px;
						}

						&:nth-child(2) {
							margin-left: 12px;
						}

						position: relative;

						&--label {
							color: $grey;
							position: absolute;
							top: 0;
							font-weight: 700;

							&:hover {
								cursor: text;
							}
						}

						.animation-label {
							@include transition(all .2s);
						}

						&--input {
							border: none;
							padding: 8px 0;
							width: 100%;
							&:focus {
								outline: none;
							}

							&:focus ~ label, &:valid ~ label {
								top: -1.5em;
								font-size: 80%;
								color: $lightGreen;
							}

							&:focus ~ .request-form__item--border {
								background-color: $lightGreen;
								width: 100%;
							}
							&::placeholder {
								opacity: 0;
							}

						}

						&--border {
							border-radius: 50px;
							height: 3px;
							background-color: $grey;
						}
					}
				}
			}
		}

		main {
			.information {
				position: relative;
				height: auto;

				&--arrow {
					background-image: url('../images/arrow-grey.svg');
					background-repeat: no-repeat;
					position: absolute;
					left: -12%;
					top: 0;
					width: 289px;
					height: 473px;
					@include transform(matrix(0.71, 0.71, -0.71, 0.71, 0, 0));
					z-index: -1;
				}

				.list {
					top: 10%;
					position: absolute;
					padding: inherit;
					left: 0;

					&__element {
						color: $white;
						 @include flexbox;
						 @include align-items('center');
						&--img {
							width: 20px;
							margin-right: 1rem;
						}
					}
				}
			}
		}
	}

	.container {
		max-width: 1280px;
		padding: 0 15px;
		margin: 0 auto;
		position: relative;
		position: relative;

		&-information {
			height: 473px;
		}

		&-header {
			 @include flexbox;
			 @include justify-content('space-between');
			 @include flex-direction('row');
			height: 100%;
		}
	}

	.footer {
		padding: 15px;
		margin-top: auto;
		background-color: $secondBackgroundColor;
		color: $white;

		p {
			margin: 0 0 0.5rem 0;
		}

		h4 {
			margin: 0 0 0.5rem 0;
		}

		&__logos {
			 @include flexbox;
			 @include align-items('center');
			 @include justify-content('space-between');
			margin-top: 48px;
			margin-bottom: 97px;
			padding: 0 15px;

			&--item {
				 @include flexbox;
				 @include align-items('center');
			}

			&--lover-martech {
				max-width: 362px;
				height: 71px;

				img {
					width: 100%;
				}
			}

			&--lover-clevertouch {
				max-width: 75px;
				height: 84px;

				img {
					width: 100%;
				}
			}
		}

		&__info {
			 @include flexbox;
			 @include justify-content('space-between');
			margin-bottom: 58px;
			padding: 0 15px;

			&-item {
				text-align: left;
				a {
					display: block;
				}

				&--chat {
					background: $logoColor 0 0 no-repeat padding-box;
					height: 48px;
					width: 180px;
					border-radius: 5px;
					border: none;
					color: $white;
					margin-top: 20px;
					@include transition(opacity 0.3s);
					&:hover {
						opacity: 0.7;
					}
				}

				.signup {
					 @include flexbox;
					&__item {
						&--email {
							background-color: rgba($black, 0.1);
							border-radius: 5px;
							border: none;
							width: 100%;
							height: 48px;
							padding-right: 68px;
							color: rgba($white, 0.3);
							padding-left: 18px;

							&:focus {
								outline: none;
							}
						}

						&--button {
							background: $lightBlue 0 0 no-repeat padding-box;
							border-radius: 0px 5px 5px 0px;
							border: none;
							width: 117px;
							margin-left: -50px;
							color: $white;
							@include transition(opacity 0.3s);
							&:hover {
								opacity: 0.7;
							}
						}
					}

				}

				.form {
					&__agreement {
						margin-top: 1rem;
						position: relative;
						text-align: left;

						&--checkbox {
							width: 24px;
							height: 24px;
							background-color: rgba($black, 0.1);
							border-radius: 6px;
							position: absolute;
							top: 0;
							left: 0;
						}

						&--newsletter {
							position: absolute;
							opacity: 0;
						}

						&--label {
							margin-left: 32px;
						}
					}

					.form__social {
						 @include flexbox;
						margin-top: 1rem;

						&-icon {
							border-radius: 50%;
							margin-right: 0.5rem;
							background-color: rgba(0, 0, 0, 0.1);
							@include transition(background-color 0.2s ease);
							img {
								width: 22px;
								height: 22px;
								padding: 6px;
								 @include flexbox;
								 @include align-items('center');
							}
						}
					}
				}

				&--address {
					font-style: normal;
				}
				&--awards {
					margin-bottom: 24px;
					img {
						&:first-child {
							margin-right: 24px;
						}
					}
				}

				&--footer {
					a {
						display: inline;
					}

					p, a {
						color: rgba($white, 0.3);
					}
				}
				&--align-right {
					text-align: right;
				}
			}
		}
	}
}

@media (max-width: 575.98px) {
	body {
		.wrapper {
			.nav {
				position: relative;
				 @include justify-content('center');
				padding: 0;

				&__link, &__gap {
					display: none;
				}
			}

			.header {
				margin-top: 0;
				.card {
					width: 100% !important;

					.request-form {
						&__row {
							 @include flex-direction('column');
						}

						&__item {
							&:first-child {
								margin-right: 0;
							}

							&:nth-child(2) {
								margin-left: 0;
							}
						}

						&__button {
							width: 100%;
						}
					}
				}
			}
		}
		.footer {
			&__info {
				 @include flex-direction('column');
				&--item {
					 @include flex-basis('unset');
				}
			}
		}
	}
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 769px) {
	body {
		.wrapper {
			.nav {
				&__logo {
					width: 153px;
					height: 25px;
				}
			}
		}
		.footer {
			&__logos {
				 @include flex-wrap('wrap');
				 @include flex-direction('column-reverse');
				margin-bottom: 48px;
			}
		}
	}
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
	body {
		.container {
			&-header {
				 @include flex-direction('column');
				 @include justify-content('flex-start');
				 @include align-items('center');
				height: unset;
			}
			&-information {
				height: unset;
			}
		}
		.wrapper {
			.header {
				height: unset;
				padding: 15px 0;
				&__text {
					position: relative;
					 @include align-items('center');
					text-align: center;
					width: 100%;
					top: 0;
				}
				.card {
					position: relative;
					width: 80%;
					right: 0;
					padding: 0;
					h2 {
						padding: 27px 27px 0;
					}
					.request-form {
						padding: 27px;
						 @include align-items('flex-end');
						&__row {
							 @include flexbox;
						}
						&__item {
							width: 100%;
						}
						&__button {
							margin-top: 23px;
						}
					}
				}
			}
			main {
				.information {
					padding: 0 15px;
					.list {
						position: unset;
					}
					&--arrow {
						background-image: none;
					}
				}
			}
		}
		.footer {
			&__logos {
				 @include flex-wrap('wrap');
			}
			&__info {
				 @include flex-wrap('wrap');
				 @include justify-content('center');
				&-item {
					max-width: unset;
					 @include flex-basis(50%);
					margin-bottom: 48px;
					text-align: center;

					&--align-right {
						text-align: center;
					}

					.form__social {
						 @include justify-content('center');
					}
				}
			}
		}
	}
}
