@mixin transition($value) {
	transition: $value;
	-ms-transition: $value;
	-webkit-transition: $value;
	-moz-transition: $value;
	-o-transition: $value;
}

@mixin transition-multi($value...) {
	transition: $value;
	-ms-transition: $value;
	-webkit-transition: $value;
	-moz-transition: $value;
	-o-transition: $value;
}
